@use "../../globals.scss" as globals;

.footerstyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: globals.$color-raisin;
    gap: 8px;
    color: white;
    margin-top: auto;

    section {
        display: flex;
        flex-direction: column;
        a {
            color: white;
        }
    }
}