.modalStyle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba( 33,33, 33, 0.4);
    width: 100vw;
    height: 100vh;

    section {
        background-color: white;
        min-width: 50vw;
        min-height: 50vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }
}